<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashtreme Admin - Free Dashboard for Bootstrap 4 by Codervent</title>
    <!-- loader-->
    <link href="adminAssets/css/pace.min.css" rel="stylesheet" />
    <script src="adminAssets/js/pace.min.js"></script>
    <!--favicon-->
    <link rel="icon" href="adminAssets/images/favicon.ico" type="image/x-icon">
    <!-- simplebar CSS-->
    <link href="adminAssets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="adminAssets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="adminAssets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="adminAssets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="adminAssets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="adminAssets/css/app-style.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <style>
        .action-icons {
          cursor: pointer;
        }
        
      </style>

</head>

<body class="bg-theme bg-theme1">

    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming">
        <div class="loader-wrapper-outer">
            <div class="loader-wrapper-inner">
                <div class="loader"></div>
            </div>
        </div>
    </div>
    <!-- end loader -->

    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
     <div class="brand-logo">
      <a href="/admin">
       <img src="asset\images\profile-circle.1023x1024.png" class="logo-icon" alt="logo icon">
       <h5 class="logo-text">OnlyShoes Admin</h5>
     </a>
   </div>
   <ul class="sidebar-menu do-nicescrol">
      <li class="sidebar-header">MAIN NAVIGATION</li>
      <li>
        <a href="/admin">
          <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a href="/admin-users">
          <i class="zmdi zmdi-accounts"></i> <span>Users</span>
        </a>
      </li>
    <li>
        <a href="/admin-orders">
          <i class="zmdi zmdi-accounts"></i> <span>Orders</span>
        </a>
      </li>
      <li>
        <a href="/admin-products">
          <i class="zmdi zmdi-shopping-cart"></i> <span>Products</span>
        </a>
      </li>

      <li>
        <a href="/admin-banner">
          <i class="zmdi zmdi-view-module"></i> <span>Banners</span>
        </a>
      </li>

      <li>
        <a href="/admin-coupon">
          <i class="zmdi zmdi-shopping-cart-plus"></i> <span>Coupons</span>
          {{!-- <small class="badge float-right badge-light">New</small> --}}
        </a>
      </li>
       <li>
  <a href="/admin-return">
    <i class="fas fa-undo"></i> <span>Returns</span>
    {{!-- <small class="badge float-right badge-light">New</small> --}}
  </a>
</li>
      <li>
        <a href="/admin-profile">
          <i class="zmdi zmdi-face"></i> <span>Profile</span>
        </a>
      </li>

      {{!-- <li>
        <a href="login.html" target="_blank">
          <i class="zmdi zmdi-lock"></i> <span>Login</span>
        </a>
      </li>

       <li>
        <a href="register.html" target="_blank">
          <i class="zmdi zmdi-account-circle"></i> <span>Registration</span>
        </a>
      </li>
	  
      <li class="sidebar-header">LABELS</li>
      <li><a href="javaScript:void();"><i class="zmdi zmdi-coffee text-danger"></i> <span>Important</span></a></li>
      <li><a href="javaScript:void();"><i class="zmdi zmdi-chart-donut text-success"></i> <span>Warning</span></a></li>
      <li><a href="javaScript:void();"><i class="zmdi zmdi-share text-info"></i> <span>Information</span></a></li> --}}

    </ul>
   
   </div>
        <!--End sidebar-wrapper-->


        <!--Start topbar header-->
        <header class="topbar-nav">
 <nav class="navbar navbar-expand fixed-top">
  <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link toggle-menu" href="javascript:void();">
                    <i class="icon-menu menu-icon"></i>
                </a>
            </li>
            <li class="nav-item">
                <form class="search-bar" id="searchForm">
                    <input type="text" class="form-control" id="searchInput" placeholder="Enter keywords">
                    <a href="javascript:void();" id="searchBtn"><i class="icon-magnifier"></i></a>
                </form>
            </li>
        </ul>
     
  <ul class="navbar-nav align-items-center right-nav-link">
    {{!-- <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
      <i class="fa fa-envelope-open-o"></i></a>
    </li>
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
      <i class="fa fa-bell-o"></i></a>
    </li> --}}
    {{!-- <li class="nav-item language">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"><i class="fa fa-flag"></i></a>
      <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
        </ul>
    </li> --}}
    <li class="nav-item">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
        <span class="user-profile"><img src="asset\images\profile-circle.1023x1024.png" class="img-circle" alt="user avatar"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
       <li class="dropdown-item user-details">
        <a href="javaScript:void();">
           {{!-- <div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src="asset\images\profile-circle.1023x1024.png" alt="user avatar"></div>
            <div class="media-body">
            <h6 class="mt-2 user-title">Sarajhon Mccoy</h6>
            <p class="user-subtitle">mccoy@example.com</p>
            </div>
           </div> --}}
          </a>
        </li>
        {{!-- <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li> --}}
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="/admin-profile"><i class="icon-settings mr-2"></i> Setting</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="/admin-logout"><i class="icon-power mr-2"></i> Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
</header>
        <!--End topbar header-->
        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">

                <div class="col-md-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Products</h5>
            <div class="form-group d-flex align-items-center">
                <!-- Add Product and Delete Selected buttons -->
                <a href="/add-product" class="btn btn-light px-5 mr-2">Add Product</a>
                <button type="submit" id="deleteSelected" class="btn btn-light px-5 mr-2">Delete Selected</button>

                <!-- Category Filter Dropdown -->
                <select id="categoryFilter" class="btn btn-light px-8 mr-2" style="width: 200px;">
                    <option value="">All Categories</option>
                    {{#each categories}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                    <button type="button" id="refreshButton" class="btn btn-light px-3"><i class="zmdi zmdi-refresh" onclick="refreshOrders()"></i></button>

            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><input type="checkbox" id="selectAll"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Price</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Expire Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                      {{#if products.length}}
                        {{#each products}}
                        <tr>
                            <td><input type="checkbox" class="selectRow" data-id="{{this._id}}"></td>
                            <td>{{this.name}}</td>
                            <td>{{this.brand}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.category}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.stock}}</td>
                            <td>{{this.expireDate}}</td>
                            <td>
                                <a href="/edit-product?id={{this._id}}"><i class="fas fa-edit action-icons"></i></a>
                                <a href="/delete-product/{{this._id}}"><i class="fas fa-trash action-icons"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                        {{else}}
                        <tr>
                            <td colspan="9">No products found.</td>
                        </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


                <!--start overlay-->
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->

            </div>
            <!-- End container-fluid-->

        </div><!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

        <!--Start footer-->
        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    <!-- Copyright © 2018 Dashtreme Admin -->
                </div>
            </div>
        </footer>
        <!--End footer-->

        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>

            </div>
        </div>
        <!--end color switcher-->

    </div><!--End wrapper-->


    <!-- Bootstrap core JavaScript-->
    <script src="adminAssets/js/jquery.min.js"></script>
    <script src="adminAssets/js/popper.min.js"></script>
    <script src="adminAssets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="adminAssets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="adminAssets/js/sidebar-menu.js"></script>

    <!-- Custom scripts -->
    <script src="adminAssets/js/app-script.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


     <script>
  document.getElementById('selectAll').addEventListener('click', function(e) {
    const checkboxes = document.querySelectorAll('.selectRow');
    checkboxes.forEach(checkbox => checkbox.checked = e.target.checked);
  });

  document.getElementById('deleteSelected').addEventListener('click', async function() {
    const selectedCheckboxes = document.querySelectorAll('.selectRow:checked');
    const selectedIds = Array.from(selectedCheckboxes).map(checkbox => checkbox.getAttribute('data-id'));

    if (selectedIds.length === 0) {
      Swal.fire({
        icon: 'warning',
        title: 'No products selected',
        text: 'Please select at least one product to proceed.',
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,
        background: '#f9f9f9',
        iconColor: '#dc3545',
        customClass: {
          popup: 'swal2-custom-popup'
        }
      });      
      return;
    }

    try {
      const response = await fetch('/delete-products', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ productIds: selectedIds })
      });

      const result = await response.json();
      if (response.ok) {
         Swal.fire({
    icon: 'success',
    title: 'Success',
    text: result.message,
  }).then(() => {
    window.location.reload();
  });
      } else {
Swal.fire({
    icon: 'error',
    title: 'Error',
    text: 'Error: ' + result,
  });        
      }
    } catch (error) {
      console.error('Error:', error);
 Swal.fire({
    icon: 'error',
    title: 'An error occurred',
    text: 'An error occurred while deleting coupons',
  });      
    }
  });
</script>

    <script>
      document.getElementById('selectAll').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('.selectRow');
        checkboxes.forEach(checkbox => checkbox.checked = this.checked);
      });
  
      function editRow(icon) {
        const row = icon.closest('tr');
        alert('Edit functionality not implemented yet.');
        // Implement your edit functionality here
      }
  
      function deleteRow(icon) {
        const row = icon.closest('tr');
        row.remove();
      }
  
      document.getElementById('deleteSelected').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('.selectRow:checked');
        checkboxes.forEach(checkbox => {
          checkbox.closest('tr').remove();
        });
      });
    </script>

<script>
    document.getElementById('filterButton').addEventListener('click', function() {
        const minAmount = parseFloat(document.getElementById('filterAmountMin').value);
        const maxAmount = parseFloat(document.getElementById('filterAmountMax').value);
  console.log('minAmount:', minAmount, 'maxAmount:', maxAmount);
        // Assuming you have a table or list of products with class 'product-item' and data attributes for amount
        const products = document.querySelectorAll('.product-item');

        products.forEach(product => {
            const amount = parseFloat(product.getAttribute('data-amount'));
            if ((isNaN(minAmount) || amount >= minAmount) && (isNaN(maxAmount) || amount <= maxAmount)) {
                product.style.display = '';
            } else {
                product.style.display = 'none';
            }
        });
    });
</script>





<script>
    document.getElementById('categoryFilter').addEventListener('change', function() {
        const selectedCategory = this.value;
        const searchValue = document.getElementById('searchInput').value;
        let url = '/admin-products?';

        if (selectedCategory) {
            url += `category=${selectedCategory}&`;
        }

        if (searchValue) {
            url += `search=${searchValue}`;
        }

        window.location.href = url;
    });

    document.getElementById('searchBtn').addEventListener('click', function() {
        const searchValue = document.getElementById('searchInput').value;
        const filterCategory = document.getElementById('categoryFilter').value;
        let url = '/admin-products?';

        if (filterCategory) {
            url += `category=${filterCategory}&`;
        }

        if (searchValue) {
            url += `search=${searchValue}`;
        }

        window.location.href = url;
    });

    document.getElementById('searchInput').addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            document.getElementById('searchBtn').click();
        }
    });
</script>

<script>
  function refreshOrders(){
    window.location.href = '/admin-products';
  }
</script>
</body>

</html>